/**
 * ROFI Color theme
 * User: SDHNT
 * Copyright:Dev-SDHNT
 */

* {
    foreground:                  rgba ( 00, 255, 00, 100 % );
    background:                  rgba ( 0, 0, 0, 80 % );

    border-color:                @foreground;
    spacing:                     5px;
    separatorcolor:              rgba ( 0, 100, 0, 80 % );
    normal-foreground:           rgba ( 0, 150, 0, 100 % );
    normal-background:           @background;

    alternate-normal-foreground: @normal-foreground;
    alternate-normal-background: @background;

    selected-urgent-foreground:  rgba ( 51, 51, 51, 100 % );
    selected-urgent-background:  rgba ( 255, 153, 153, 80 % );

    selected-active-foreground:  rgba ( 51, 51, 51, 100 % );
    selected-active-background:  rgba ( 17, 17, 17, 80 % );

    selected-normal-foreground:  rgba ( 0, 250, 0, 100 % );
    selected-normal-background:  rgba ( 00, 00, 00, 10 % );
    
    urgent-foreground:           rgba ( 255, 153, 153, 100 % );
    urgent-background:           rgba ( 0, 0, 0, 80 % );

    alternate-urgent-foreground: @urgent-foreground;
    alternate-urgent-background: rgba ( 255, 255, 255, 50 % );

    background-color:            @background;
    alternate-active-foreground: @active-foreground;
    alternate-active-background: rgba ( 255, 255, 255, 0% );
    active-foreground:           rgba ( 17, 17, 17, 100 % );
    active-background:           rgba ( 0, 0, 0, 80 % );
}

window {
    background: rgba ( 0, 0, 00, 50 %);
    border:           1px;
    padding:          5px;
}
mainbox {
    background: rgba ( 0, 0, 0, 50 % );
    border:  0px;
    padding: 4;
}
message {
    border:       2px  0px 0px ;
    border-color: @separatorcolor;
    padding:      5px ;
}
textbox {
    text-color: @foreground;
}
listview {
    fixed-height: 0;
    border:       1px 0px 0px ;
    border-color: @separatorcolor;
    spacing:      2px ;
    scrollbar:    true;
    padding:      4px 0px 0px ;
}
element {
    border:  0;
    padding: 4px ;
}
element-text {
    background-color: inherit;
    text-color:       inherit;
}
element.normal.normal {
    background-color: @normal-background;
    text-color:       @normal-foreground;
}
element.normal.urgent {
    background-color: @urgent-background;
    text-color:       @urgent-foreground;
}
element.normal.active {
    background-color: @active-background;
    text-color:       @active-foreground;
}
element.selected.normal {
    background-color: @selected-normal-background;
    text-color:       @selected-normal-foreground;
    border: 1px;
    padding: 2px;
}
element.selected.urgent {
    background-color: @selected-urgent-background;
    text-color:       @selected-urgent-foreground;
}
element.selected.active {
    background-color: @selected-active-background;
    text-color:       @selected-active-foreground;
}
element.alternate.normal {
    background-color: @alternate-normal-background;
    text-color:       @alternate-normal-foreground;
}
element.alternate.urgent {
    background-color: @alternate-urgent-background;
    text-color:       @alternate-urgent-foreground;
}
element.alternate.active {
    background-color: @alternate-active-background;
    text-color:       @alternate-active-foreground;
}
scrollbar {
    width:        2px ;
    border:       0;
    handle-width: 2px ;
    padding:      0;
}
mode-switcher {
    border:       2px 0px 0px ;
    border-color: @separatorcolor;
}
button.selected {
    background-color: @selected-normal-background;
    text-color:       @selected-normal-foreground;
    border: 2px;
}
inputbar {
    spacing:    0;
    text-color: @normal-foreground;
    padding:    1px ;
}
case-indicator {
    spacing:    0;
    text-color: @normal-foreground;
}
entry {
    spacing:    0;
    text-color: @normal-foreground;
}
prompt {
    spacing:    0;
    text-color: @normal-foreground;
}
inputbar {
    children:   [ prompt,textbox-prompt-colon,entry,case-indicator ];
}
textbox-prompt-colon {
    expand:     false;
    str:        ":";
    margin:     0px 0.3em 0em 0em ;
    text-color: @normal-foreground;
}

